[submodule "roles/base_packages"]
	path = roles/base_packages
	url = https://github.com/chaos-bodensee/role-base_packages.git
[submodule "files/admin_ssh_keys"]
	path = files/admin_ssh_keys
	url = https://gitea.see-base.de/toolbox/ssh-public-keys.git
